.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
}

input,
button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

.food {
  border: 2px solid black;
  padding: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
}
